.faq-ask_11 {
    padding: 60PX 0;
}

.faq-ask_11 .title {
    color: hsl(var(--color-primary));
    position: relative;
  z-index: 2;
}

/* back font */
.faq-ask_11 .faq-sec span {
    position: absolute;
    top: 30px;
    color: hsl(var(--color-black) / 8%);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
  }

 